service: hrms-backend-lambda

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    MONGODB_URL: ${env:MONGODB_URL}
    CLIENT_URL: ${env:CLIENT_URL}
    JWT_SECRET: ${env:JWT_SECRET}

functions:
  app:
    handler: index.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-dotenv-plugin

custom:
  dotenv:
    path: .env
